/* 16. gallery */
.gallery-img{
    overflow: hidden;
    position: relative;
    line-height: 1;
    & > a{
        position: relative;
        display: block;
        overflow: hidden;
        & img{
            width: 100%;
            transition: .3s;
        }
        &::before {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: "";
            background: $theme-color;
            opacity: 0;
            transition: .3s;
            z-index: 1;
        }
    }
}
.gallery-wrapper:hover .gallery-img img{transform:scale(1.1) ;}
.gallery-wrapper:hover .gallery-img > a::before{opacity: .6;}
.gallery-icon {
    position: absolute;
    top:50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    z-index: 9;
    transition: .3s;
    opacity: 0;
    & a{
        font-size: 45px;
        color: $white;;
        transition: .3s;
        &:hover{
            color: $red;
        }
    }
}
.gallery-wrapper:hover .gallery-icon{opacity: 1;}