/*--
    - Overlay
------------------------------------------*/
[data-overlay] {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        content: "";
    }
}

/*-- Overlay Color --*/
[data-overlay="light"] {
    &::before {
        background-color: $white;
    }
}
[data-overlay="dark"] {
    &::before {
        background-color: $black;
    }
}

/*-- Overlay Opacity --*/
[data-overlay] {
	position: relative;
}
[data-overlay]::before {
	background-color: #000;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
[data-overlay="3"]::before {
	opacity: 0.3;
}
[data-overlay="4"]::before {
	opacity: 0.4;
}
[data-overlay="5"]::before {
	opacity: 0.5;
}
[data-overlay="6"]::before {
	opacity: 0.6;
}
[data-overlay="7"]::before {
	opacity: 0.7;
}
[data-overlay="8"]::before {
	opacity: 0.8;
}
[data-overlay="9"]::before {
	opacity: 0.9;
}