/* 19. video */
.video-area {
	margin-top: -210px;
}
.video-icon {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    & a {
        color: $red;
        background: $white;
        height: 100px;
        width: 100px;
        display: inline-block;
        border-radius: 50px;
        line-height: 100px;
        font-size: 16px;
        text-align: center;
    }
}
