{% extends 'tspapp/base.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>About</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
      <!-- header-start -->
    <header>
        <div
          id="sticky-header"
          class="main-menu-area menu-04 pl-35 pr-35 theme-red-soft-bg"
        >
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-xl-2 col-lg-2">
                <div class="logo">
                  <a href="/"
                    ><img src="{% static 'assets/img/logo/logo.png' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 d-none d-lg-block header-04-menu">
                <div class="menu-box">
                  <div class="header-03-right f-right">
                    <div class="menu-bar info-bar f-right d-none d-xl-block">
                      <a href="https://form.jotform.com/212298227382055"><img src="{% static 'assets/img/icon/bar.png' %}" alt="" /></a>
                    </div>
                    <div class="header-button f-right d-none d-lg-block">
                      <a href="https://form.jotform.com/212298227382055" class="c-btn">Get Appointment</a>
                    </div>
                  </div>
                  <div class="main-menu">
                    <nav id="mobile-menu">
                      <ul>
                        <li>
                          <a href="/"
                            >home 
                          </a>
                        </li>
                        <li><a href="/about">About </a></li>
                        <li><a href="/services">Services </a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 header-04-cta">
                <div class="header1-right">
                  <div class="header-middle-info">
                    <div class="header-middle-icon f-left">
                      <i class="flaticon-technical-support"></i>
                    </div>
                    <div class="header-middle-text">
                      <span>Get Suppport</span>
                      <h5>987-987-876-625</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="mobile-menu"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra-info">
          <div class="close-icon">
            <button>
              <i class="far fa-window-close"></i>
            </button>
          </div>
          <div class="logo-side mb-30">
            <a href="/">
              <img src="{% static 'assets/img/logo/white.png' %}" alt="" />
            </a>
          </div>
          <div class="side-info mb-30">
            <div class="contact-list mb-30">
              <h4>Office Address</h4>
              <p>123/A, Miranda City Likaoli Prikano, Dope</p>
            </div>
            <div class="contact-list mb-30">
              <h4>Phone Number</h4>
              <p>+0989 7876 9865 9</p>
              <p>+(090) 8765 86543 85</p>
            </div>
            <div class="contact-list mb-30">
              <h4>Email Address</h4>
              <p>info@example.com</p>
              <p>example.mail@hum.com</p>
            </div>
          </div>
          
          <div class="social-icon-right mt-20">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-google-plus-g"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </header>
      <!-- header-start -->
    <main style="width: 100%; overflow-y: hidden; overflow-x: hidden;">
        <div
        class="breadcrumb-area pt-150 pb-150"
        data-overlay="7"
        style="background-image: url(/static/assets/img/bg/page-title.jpg)"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="breadcrumb-text text-center z-index">
                <h1>About Us</h1>
                <ul class="breadcrumb-menu">
                  <li><a href="/">home</a></li>
                  <li><span>about</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- about-area start -->
      <div class="about-area pt-120 pb-90">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 col-lg-5">
              <div class="sycho-tab-img mb-30">
                <img src="{% static 'assets/img/about/exp.png' %}" alt="" />
              </div>
            </div>
            <div class="col-xl-6 col-lg-7">
              <div class="sycho-tab-content pt-40 pr-0 mb-30">
                <div class="section-title mb-40">
                  <span><i class="far fa-plus"></i> About us</span>
                  <h2 style="font-size: 300%;">Who is The Strength Program?</h2>
                  <p class="tab-quote">
                    In short terms it's a program that cares about you in long terms it's an program that...
                  </p>
                  <p>                    
                    The Strength Program acts as a solutions hub, providing mental health services and building community trust while helping families understand the strength of a powerful mindset. Using our services as a Psychiatric Rehabilitation Program (PRP), active clients and their families are educated through behavioral, social, and recreational support in group and individual settings; and are exposed to community resources in mental health, with hopes of building community trust, promoting individual success and strengthening the structure of a social and personal relationships. We offer resources for independent living, practical life skills, interpersonal and social skills, behavioral self-management, drug abuse counseling, medication management and community adaptation.
                  </p>
                  <div class="mb-40"></div>
                  <a href="https://form.jotform.com/212298227382055" class="c-btn" style="width: 100%;">Get Appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- about-area end -->

      <div class="video-title-area theme-gray pt-110 pb-200">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
              <div class="section-title text-center mb-60">
                <span
                  ><i class="far fa-plus"></i> video
                  <i class="far fa-plus pl-10"></i
                ></span>
                <h2>Our Work Ground</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="video-area">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <div class="video-img">
                <img src="{% static 'assets/img/bg/video.jpg' %}" alt="" />
                <div class="video-icon">
                  <a
                    href="https://www.youtube.com/watch?v=8EcaYkUjMpA"
                    class="popup-video"
                    ><i class="fas fa-play" style="margin-top: 30; margin-left: 10; font-size: 40;"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       
      
 <!-- process-area-start -->
 <div
 class="process-area pt-110 pb-90"
 data-background="{% static 'assets/img/process/line-white.png' %}"
>
 <div class="container">
   <div class="row">
     <div class="col-12">
       <div class="section-title text-center mb-70">
         <span
           ><i class="far fa-plus"></i> Who is Qualified for PRP
           Services? <i class="far fa-plus pl-10"></i
         ></span>
         <h2>Adolescents PRP Qualifications</h2>
       </div>
     </div>
   </div>
   <div class="row align-items-end">
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro1.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>Active Maryland State Medicaid</h6>
         </div>
       </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro5.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>Age: 5-17</h6>
         </div>
       </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro2.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>
             Axis I diagnosis from a licensed mental health professional
           </h6>
         </div>
       </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro3.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>
             Intake and rehabilitation assessment with PPS staff (parent
             or legal guardian must be present)
           </h6>
         </div>
       </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro4.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>
             Referral from treating Licensed Mental Health Professional
           </h6>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<!-- process-area-end -->
<div style="margin-top: -130"></div>
<!-- process-area-start -->
<div
 class="process-area pt-110 pb-90"
 data-background="{% static 'assets/img/process/line-white.png' %}"
>
 <div class="container">
   <div class="row">
     <div class="col-12">
       <div class="section-title text-center mb-70">
         <span
           ><i class="far fa-plus"></i> Who is Qualified for PRP
           Services? <i class="far fa-plus pl-10"></i
         ></span>
         <h2>Adult PRP Qualifications</h2>
       </div>
     </div>
   </div>
   <div class="row align-items-end">
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro1.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>Intake and Rehabilitation Assessment with PPS staff</h6>
         </div>
       </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro4.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>Maryland Medicaid and/or proof of application</h6>
         </div>
       </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro2.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>
             Psychiatric diagnosis that meets the priority population
             determined by the Mental Health Authority
           </h6>
         </div>
       </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6">
       <div class="process-wrapper text-center mb-30">
         <div class="process-img mb-30">
           <img
             src="{% static 'assets/img/process/pro3.png' %}"
             alt=""
           />
         </div>
         <div class="process-text">
           <h6>
             Referral from treating Licensed Mental Health Professional
           </h6>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
<!-- process-area-end -->
      <!-- newsletter-area-start -->
      <div class="newsletter-area">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
            <div class="col-lg-4">
              <div class="plan-active">
                <div class="plan-box theme-gray">
                  <span>01</span>
                  <h4>Planning</h4>
                  <p>
                    Complete the referral form and a counselor will contact you within 48 hours.
                    <br>
                  </p>
                </div>
                <div class="plan-box theme-gray">
                  <span>02</span>
                  <h4>Alternative Method</h4>
                  <p>
                    We will refer you to a therapist if you do not already have one!
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="newlstter">
                <div class="section-title section-title-white mb-40">
                  <span><i class="far fa-plus"></i> subscribe</span>
                  <h2 class="white-color">Get Every Update From Here.</h2>
                </div>
                <div class="newsform">
                  <form method="POST"> 
                    {% csrf_token %}
                    {{form.email}}
                    <button type="submit"><i class="fal fa-envelope-open"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div
                class="newlstter-img"
                style="background-image: url(/static/assets/img/bg/newsletter.jpg)"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <!-- newsletter-area-end -->

     
    </main>
  </body>
</html>

{% endblock %}