{% load static %}
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{% static 'assets/img/favicon.ico' %}"
/>

{% block content %}
<!-- This is the middle -->
{% endblock %}
<!-- This is the bottom -->
<!-- footer-start -->
<footer class="footer-style footer-04-style">
  <div class="footer-top-area footer-tops-border pt-100 pb-70">
      <div class="container">
          <div class="row">
              <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                  <div class="footer-wrapper">
                      <div class="footer-logo">
                          <a href="/"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                      </div>
                      <div class="footer-text">
                          <p>Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do ei usmod tempor
                              incididunt ut lab ore et dolore magna aliqua. Ut eni m ad minim veniam, quis nos trud
                              exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                      </div>
                  </div>
              </div>
              <!-- <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                  <div class="footer-wrapper ml-15">
                      <h3 class="footer-title">Services</h3>
                      <div class="footer-link">
                          <ul>
                              <li><a href="#">Industrial Design</a></li>
                              <li><a href="#">Commercial Interior Design</a></li>
                              <li><a href="#">Residencial Interior Design</a></li>
                              <li><a href="#">Detailed & Phased Planning</a></li>
                              <li><a href="#">Apartment Exterior Design</a></li>
                          </ul>
                      </div>
                  </div>
              </div> -->
              <div style="width: auto;">
                  <div class="footer-wrapper">
                      <h3 class="footer-title">Contact Us</h3>
                      <ul class="footer-address">
                          <li>
                              <div class="footer-address-icon f-left">
                                  <i class="fal fa-map-marker-alt"></i>
                              </div>
                              <div class="footer-address-text">
                                  <span>400 W Franklin Street, 101</span>
                              </div>
                          </li>
                          <li>
                              <div class="footer-address-icon f-left">
                                  <i class="fal fa-phone"></i>
                              </div>
                              <div class="footer-address-text">
                                  <span>(443) 925-2337<br>
                                      (443) 869-3398</span>
                              </div>
                          </li>
                          <li>
                              <div class="footer-address-icon f-left">
                                  <i class="fal fa-envelope-open"></i>
                              </div>
                              <div class="footer-address-text">
                                  <span>info@thestrengthprogram.org</span>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <!-- <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
                  <div class="footer-wrapper ml-25">
                      <h3 class="footer-title">Featured Book</h3>
                      <div class="footer-2-img pos-rel">
                          <img src="assets/img/footer/03.jpg" alt="">
                          <span class="f-tag">Sale</span>
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
  <div class="footer-botm-area pt-25 pb-25">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="copyright">
                      <p>Copyright <i class="far fa-copyright"></i> 2020 Example. All rights reserved.</p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6">
                  <div class="footer-btom-icon text-md-right">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-behance"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                      <a href="#"><i class="fab fa-linkedin"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- footer-end -->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="manifest" href="site.webmanifest" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{% static 'assets/img/favicon.ico' %}"
  />
  <!-- Place favicon.ico in the root directory -->
  <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
  <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
  <script src="{% static 'assets/js/ajax-form.js' %}"></script>
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.knob.js' %}"></script>
  <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
  <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
  <!-- <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script> -->
  <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
  <link
    rel="stylesheet"
    href="{% static 'assets/css/owl.carousel.min.css' %}"
  />
  <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" />
  <link
    rel="stylesheet"
    href="{% static 'assets/css/fontawesome-all.min.css' %}"
  />
  <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/default.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
</head>
