{% load static %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}"/>  

{% block content %}
<!-- This is the middle -->
{% endblock %}
<!-- This is the bottom -->
 <!-- footer-start -->
 <footer>
    <div class="footer-top-area theme-bg pt-100 pb-50">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 mb-30">
            <div class="footer-logo f-left">
              <a href="/"
                ><img
                  src="{% static 'assets/img/logo/white-logo.png' %}"
                  alt=""
              /></a>
            </div>
            <div class="footer-top-text">
              <p>Design By</p>
              <a target="_blank" href="https://www.moneytreedev.com/" style="color: white;">Money Tree Dev 2021</a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 mb-30">
            <div class="footer-icon text-md-right">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-middle-area mt-20 pt-80">
          <div class="row">
            <div class="col-xl-5 col-lg-7 col-md-7 mb-30">
              <div class="footer-wrapper">
                <h3 class="footer-title">Services</h3>
                <div class="footer-link">
                  <ul>
                    <li><a href="/services">Anger Management</a></li>
                    <li><a href="/services">Community Activities</a></li>
                    <li><a href="/services">COVID Initiatives</a></li>
                    <li><a href="/services">Illness Management Training</a></li>
                    <li><a href="/services">Independent and Socialization Skills</a></li>
                    <li><a href="/services">Medication Management and Education</a></li>
                    <li><a href="/services">Mental Health Coordination/Advocaucy</a></li>
                  </ul>
                  <ul class="pl-40">
                    <li><a href="/services">Mental Illness Recovery</a></li>
                    <li><a href="/services">Modeling and Role Play</a></li>
                    <li><a href="/services">Problem-Solving and Conflict Resolution</a></li>
                    <li><a href="/services">Promoting Health Care</a></li>
                    <li><a href="/services">Safety/Crisis Management Plans</a></li>
                    <li><a href="/services">Self Care</a></li>
                    <li><a href="/services">Utilization of Community Resources</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5 col-md-5 mb-30" style="align-items: flex-end;">
              <div class="footer-wrapper">
                <h3 class="footer-title">Contact Us</h3>
                <ul class="footer-address">
                  <li>
                    <div class="footer-address-icon f-left">
                      <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="footer-address-text">
                      <span
                        >786/A Romada tower mall <br />
                        Brooklyn, NYC</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class="footer-address-icon f-left">
                      <i class="fal fa-phone"></i>
                    </div>
                    <div class="footer-address-text">
                      <span
                        >+987 876 765 765 65 <br />
                        +(987) 787 876 876 87</span
                      >
                    </div>
                  </li>
                  <li>
                    <div class="footer-address-icon f-left">
                      <i class="fal fa-envelope-open"></i>
                    </div>
                    <div class="footer-address-text">
                      <span
                        >info@webmail.com <br />
                        jobsinfo@webmail.com</span
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-area red-bg pt-40 pb-40">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-6 col-md-6">
            <div class="footer-bottom-wrapper">
              <div class="footer-bm-img f-left mr-85">
                <img src="{% static 'assets/img/footer/01.png' %}" alt="" />
              </div>
              <ul class="footer-bottom-address">
                <li>
                  <div class="footer-bottom-icon f-left">
                    <i class="fal fa-phone"></i>
                  </div>
                  <div class="footer-bottom-text">
                    <span>Support Email</span>
                    <h3>info@webmail.com</h3>
                  </div>
                </li>
                <li class="f-address">
                  <div class="footer-bottom-icon f-left">
                    <i class="fal fa-envelope"></i>
                  </div>
                  <div class="footer-bottom-text">
                    <span>Support Email</span>
                    <h3>info@webmail.com</h3>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </footer>
  <!-- footer-end -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <!-- Place favicon.ico in the root directory -->
    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax-form.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.knob.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

</head>