{% extends 'tspapp/base.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<link
  rel="shortcut icon"
  type="image/x-icon"
  href="{% static 'assets/img/favicon.ico' %}"
/>
<title>Home</title>
<html class="no-js" lang="zxx">
  <body>
    <!-- header-start -->
    <header class="header-transparent">
      <div id="sticky-header" class="main-menu-area menu-04 pl-35 pr-35">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2">
              <div class="logo">
                <a href="/"
                  ><img
                    height="50"
                    width="200"
                    src="{% static 'assets/img/logo/logo.png' %}"
                    alt=""
                /></a>
              </div>
            </div>
            <div class="col-xl-8 col-lg-8 d-none d-lg-block header-04-menu">
              <div class="menu-box">
                <div class="header-03-right f-right">
                  <div class="menu-bar info-bar f-right d-none d-xl-block">
                    <a href="#"
                      ><img src="{% static 'assets/img/icon/bar.png' %}" alt=""
                    /></a>
                  </div>
                  <div class="header-button f-right d-none d-lg-block">
                    <a
                      href="https://form.jotform.com/212298227382055"
                      class="c-btn"
                      >Get Appointment</a
                    >
                  </div>
                </div>
                <div class="main-menu">
                  <nav id="mobile-menu">
                    <ul>
                      <li>
                        <a href="/">home</a>
                      </li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/services">Services</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 header-04-cta">
              <div class="header1-right">
                <div class="header-middle-info">
                  <div class="header-middle-icon f-left">
                    <i class="flaticon-technical-support"></i>
                  </div>
                  <div class="header-middle-text">
                    <span>Get Suppport</span>
                    <h5>987-987-876-625</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mobile-menu"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra-info">
        <div class="close-icon">
          <button>
            <i class="far fa-window-close"></i>
          </button>
        </div>
        <div class="logo-side mb-30">
          <a href="/">
            <img src="{% static 'assets/img/logo/white.png' %}" alt="" />
          </a>
        </div>
        <div class="side-info mb-30">
          <div class="contact-list mb-30">
            <h4>Office Address</h4>
            <p>123/A, Miranda City Likaoli Prikano, Dope</p>
          </div>
          <div class="contact-list mb-30">
            <h4>Phone Number</h4>
            <p>+0989 7876 9865 9</p>
            <p>+(090) 8765 86543 85</p>
          </div>
          <div class="contact-list mb-30">
            <h4>Email Address</h4>
            <p>info@example.com</p>
            <p>example.mail@hum.com</p>
          </div>
        </div>
        <div class="social-icon-right mt-20">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </header>
    <!-- header-start -->

    <main style="overflow-y: hidden; overflow-x: hidden;">
      <!-- hero-area start -->
      <section class="hero-area theme-red-soft">
        <div class="hero-slider">
          <div class="slider-active">
            <div
              class="single-slider slider-height-4 d-flex align-items-center"
              data-background="{% static 'assets/img/slider/slide4.png' %}"
            >
              <div class="container container-custom">
                <div class="row">
                  <div class="col-xl-7 col-lg-7 col-md-9">
                    <div class="hero-content">
                      <div class="slider-caption">
                        <!-- <span data-animation="fadeInUp" data-delay=".2s"
                          >COVID-19 Mental Health Tip</span
                        > -->
                        <h2 data-animation="fadeInUp" data-delay=".4s">
                          What Is PRP?
                        </h2>
                        <p data-animation="fadeInUp" data-delay=".6s">
                          PRP services assist individuals with persistent and
                          serious mental illness to develop the emotional,
                          social, and intellectual skills they need to live as
                          independently as possible. Direct care workers (DCW)
                          work with clients to encourage the skills they need to
                          live, learn and work in social environments with
                          minimal professional support. Clients are provided
                          with individual, family and group support to encourage
                          change in behavioral challenges.
                        </p>
                      </div>
                      <div class="slider-btn">
                        <a
                          data-animation="fadeInUp"
                          data-delay=".8s"
                          href="https://form.jotform.com/212298227382055"
                          class="c-btn"
                          >Get Appointment</a
                        >
                        <!-- <a
                          data-animation="fadeInUp"
                          data-delay=".8s"
                          href="services"
                          class="c-btn border-btn"
                          >Missions & Vision
                        </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- hero-area end -->
      
     

      <!-- number-area-start -->
      <div class="number-area pb-70">
        <div class="container">
          <div class="row">
            <div style="width: 15%;"></div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="number-wrapper nm-01 mb-30">
                <div class="number-info f-left">
                  <span>01</span>
                </div>
                <div class="number-text">
                  <h3>Planning</h3>
                  <p>Complete the referral form and a therapist will contact you in 48 hours!</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
              <div class="number-wrapper mb-30 nm-01 nm-02">
                <div class="number-info f-left">
                  <span>02</span>
                </div>
                <div class="number-text">
                  <h3>Alternative</h3>
                  <p>We will referral you to a therapist if you don't already have one.</p>
                </div>
              </div>
            </div>
            <!-- <dijv class="col-xl-4 col-lg-4 col-md-6">
              <div class="number-wrapper nm-01 nm-03 mb-30">
                <div class="number-info f-left">
                  <span>03</span>
                </div>
                <div class="number-text">
                  <h3>Kind Consultation</h3>
                  <p>New radical acceptance: embracing</p>
                </div>
              </div>
            </dijv> -->
          </div>
        </div>
      </div>
      <!-- number-area-end -->
      <div style="height: 25;"></div>
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8">
            <div class="section-title text-center mb-60">
                <span><i class="far fa-plus"></i> EXAMPLES <i class="far fa-plus pl-10"></i></span>
                <h2>Behavior Role Challenges </h2>
            </div>
        </div>
    </div>

      <!-- tab-area-start -->
      <div class="tab-area pt-110 pb-90" style="margin-top: -100;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sycho-services-menu text-center mb-20">
                <ul class="nav mt-0" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="home-tab"
                      data-toggle="tab"
                      href="#home"
                      role="tab"
                      aria-controls="home"
                      aria-selected="true"
                      ><i class="flaticon-anxiety"></i>Poor Social skills</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="profile-tab"
                      data-toggle="tab"
                      href="#profile"
                      role="tab"
                      aria-controls="profile"
                      aria-selected="false"
                      ><i class="flaticon-brain-1"></i>Impulsive Behaviors</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="contact-tab"
                      data-toggle="tab"
                      href="#contact"
                      role="tab"
                      aria-controls="contact"
                      aria-selected="false"
                      ><i class="flaticon-psychology"></i>Poor Concentration</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="contact-tab1"
                      data-toggle="tab"
                      href="#contact1"
                      role="tab"
                      aria-controls="contact"
                      aria-selected="false"
                      ><i class="flaticon-mind"></i>And More...</a
                    >
                  </li>
                </ul>
              </div>
              <div class="sycho-cf-wrapper">
                <div class="tab-content" id="myTabContent">
                  <div
                    class="tab-pane fade show active"
                    id="home"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                  >
                    <div class="sv-box">
                      <div class="row">
                        <div class="col-xl-6 col-lg-5">
                          <div class="sycho-tab-img mb-30">
                            <img src="{% static 'assets/img/services/stab1.jpg' %}" alt="" />
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                          <div
                            class="sycho-tab-content pos-rel pt-30 pr-0 mb-30"
                          >
                            <div class="section-title mb-40">
                              <span
                                ><i class="far fa-plus"></i> Social Skills</span
                              >
                              <h2>Why is this important?</h2>
                              <p class="tab-quote">
                                Poor social skills often lead to stress, anxiety, aggression and loneliness, which can negatively affect physical as well as mental health. With solid social skills, you increase your opportunity to:
                                Communicate your needs and wants clearly and effectively,
                                Have better—and potentially more—relationships,
                                Navigate tricky social situations,
                                Be considered for career opportunities,
                                And Feel happier                              
                              </p>
                              <div class="mb-40"></div>

                              <div class="sv-btn">
                                <a href="https://form.jotform.com/212298227382055" class="c-btn" style="width: 100%;">Make Appointment</a>
                              </div>
                            </div>
                            <div class="back-icon">
                              <i class="flaticon-brain-1"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="profile"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                  >
                    <div class="sv-box">
                      <div class="row">
                        <div class="col-xl-6 col-lg-5">
                          <div class="sycho-tab-img mb-30">
                            <img src="{% static 'assets/img/services/stab1.jpg' %}" alt="" />
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                          <div
                            class="sycho-tab-content pos-rel pt-30 pr-0 mb-30"
                          >
                            <div class="section-title mb-40">
                              <span
                                ><i class="far fa-plus"></i>Impuslive Behaviors</span
                              >
                              <h2>Why is this important?</h2>
                              <p class="tab-quote">
                                It’s human nature to sometimes say or do something you wish you hadn’t. But some people are impulsive quite often. If you notice a regular pattern of the following, it might be an issue:

Aggressive behavior,
Restlessness,
Interrupting others,
Being easily distracted,
                              </p>
                              <div class="mb-40"></div>

                              <div class="sv-btn">
                                <a href="https://form.jotform.com/212298227382055" class="c-btn" style="width: 100%;">Make Appointment</a>
                              </div>
                            </div>
                            <div class="back-icon">
                              <i class="flaticon-brain-1"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="contact"
                    role="tabpanel"
                    aria-labelledby="contact-tab"
                  >
                    <div class="sv-box">
                      <div class="row">
                        <div class="col-xl-6 col-lg-5">
                          <div class="sycho-tab-img mb-30">
                            <img src="{% static 'assets/img/services/stab1.jpg' %}" alt="" />
                          </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                          <div
                            class="sycho-tab-content pos-rel pt-30 pr-0 mb-30"
                          >
                            <div class="section-title mb-40">
                              <span
                                ><i class="far fa-plus"></i>Poor Concentration</span
                              >
                              <h2>Why is this important?</h2>
                              <p class="tab-quote">
You rely on concentration to get through work or school every day. When you’re unable to concentrate, you can’t think clearly, focus on a task, or maintain your attention. Being unable to concentrate affects people differently. Some symptoms you may experience include: 
being unable to remember things that occurred a short time ago,
difficulty sitting still,
difficulty thinking clearly,
lack of focus,
lacking physical or mental energy to concentrate,
and making careless mistakes
                              </p>
                              <div class="mb-40"></div>

                              <div class="sv-btn">
                                <a href="https://form.jotform.com/212298227382055" class="c-btn" style="width: 100%;">Make Appointment</a>
                              </div>
                            </div>
                            <div class="back-icon">
                              <i class="flaticon-brain-1"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="contact1"
                    role="tabpanel"
                    aria-labelledby="contact-tab"
                  >
                  <div class="sv-box">
                    <div class="row">
                      <div class="col-xl-6 col-lg-5">
                        <div class="sycho-tab-img mb-30">
                          <img src="{% static 'assets/img/services/stab1.jpg' %}" alt="" />
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-7">
                        <div
                          class="sycho-tab-content pos-rel pt-30 pr-0 mb-30"
                        >
                          <div class="section-title mb-40">
                            <span
                              ><i class="far fa-plus"></i>Some More Behavioral Challenges...</span
                            >
                            <h2>Sadly They Are More</h2>
                            <p class="tab-quote">
                              Social skills
Peer/family relationship issues
Impulsive behaviors, such as anger, tantrums, verbal/physical aggression, property destruction, opposition and defiance
Difficulty respecting authority figures
Unorganized/poor focus or concentration are more examples of behavioral challanges.

                            </p>
                            <div class="mb-40"></div>

                            <div class="sv-btn">
                              <a href="https://form.jotform.com/212298227382055" class="c-btn" style="width: 100%;">Lets Talk About it?</a>
                            </div>
                          </div>
                          <div class="back-icon">
                            <i class="flaticon-brain-1"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- tab-area-end -->
      <div style="height: 100;"></div>

      <!-- appointment-area-start -->
      <div class="appointment-area pb-70">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-xl-6 col-lg-6">
              <div class="appointment-wrapper mb-30">
                <div class="section-title mr-30 mb-40">
                  <span><i class="far fa-plus"></i> Work Shedule</span>
                  <h2>Get In Touch In The Meantime.</h2>
                  <p class="p-title">
                    Our number is (443) 869-3398 our email is info@thestrengthprogram.org
                  </p>
                </div>
                <div class="app-item">
                  <ul>
                    <li>
                      <div class="app-text">
                        <h4>Monday</h4>
                        <span>9:00am - 5:30pm</span>
                      </div>
                    </li>
                    <li>
                      <div class="app-text">
                        <h4>Tuesday</h4>
                        <span>9:00am - 5:30pm</span>
                      </div>
                    </li>
                    <li>
                      <div class="app-text">
                        <h4>Wednesday</h4>
                        <span>9:00am - 5:30pm</span>
                      </div>
                    </li>
                    <li>
                      <div class="app-text">
                        <h4>Thursday</h4>
                        <span>9:00am - 5:30pm</span>
                      </div>
                    </li>
                    <li>
                      <div class="app-text">
                        <h4>Friday</h4>
                        <span>9:00am - 5:30pm</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
              <div class="single-app pos-rel">
                <div class="appointment-img">
                  <img
                    src="{% static 'assets/img/appointment/02.png' %}"
                    alt=""
                  />
                </div>
                <div class="appointment-02-img">
                  <img
                    src="{% static 'assets/img/appointment/01.jpg' %}"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- appointment-area-end -->

      <!-- awarad-area-start -->
      <!-- <div class="award-area">
        <div class="container">
          <div
            class="award-bg pt-100 pb-70"
            data-background="{% static 'assets/img/bg/02.jpg' %}"
          >
            <div class="row">
              <div class="col-xl-6 col-lg-6">
                <div class="single-award mb-30">
                  <div class="brand-active">
                    <div class="award-img">
                      <img
                        src="{% static 'assets/img/brand/01.png' %}"
                        alt=""
                      />
                    </div>
                    <div class="award-img">
                      <img
                        src="{% static 'assets/img/brand/02.png' %}"
                        alt=""
                      />
                    </div>
                    <div class="award-img">
                      <img
                        src="{% static 'assets/img/brand/03.png' %}"
                        alt=""
                      />
                    </div>
                    <div class="award-img">
                      <img
                        src="{% static 'assets/img/brand/04.png' %}"
                        alt=""
                      />
                    </div>
                    <div class="award-img">
                      <img
                        src="{% static 'assets/img/brand/05.png' %}"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                <div class="award-wrapper">
                  <div class="section-title white-title mb-30">
                    <span><i class="far fa-plus"></i> rewards</span>
                    <h2>Plaques & Prizes</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      awarad-area-end -->
      <div style="padding-top: 100; padding-bottom: 100"></div>
      <!-- counter-area-start -->
      <!-- <div class="counter-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-6 col-lg-6 mb-30">
              <div class="counter-img">
                <img src="{% static 'assets/img/counter/01.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-30">
              <div class="counter-wrapper red-bg d-flex align-items-end">
                <div class="counter-content">
                  <h2>80<span>%</span></h2>
                  <span>Per Country Coverage</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
              <div class="counter-img">
                <img src="{% static 'assets/img/counter/02.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
              <div class="counter-img">
                <img src="{% static 'assets/img/counter/03.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
              <div class="counter-wrapper theme-bg d-flex align-items-end">
                <div class="counter-content">
                  <h2>99<span>%</span></h2>
                  <span>Success Rate We Have</span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 mb-30">
              <div class="counter-img">
                <img src="{% static 'assets/img/counter/04.jpg' %}" alt="" />
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-30">
              <div
                class="
                  counter-wrapper
                  grey-theme-bg
                  d-flex
                  align-items-end
                  justify-content-center
                "
              >
                <div class="counter-info text-center">
                  <div class="counter-icon">
                    <i class="flaticon-girl" style="padding-top: 25"></i>
                  </div>
                  <h3>Personal Solutions</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                  </p>
                  <a href="/services">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      counter-area-end -->

      <!-- cta-area-start
      <div
        class="cta-area pt-100 ml-15 mr-15 pb-70"
        data-background="{% static 'assets/img/bg/03.jpg' %}"
      >
        <dive class="container">
          <div class="row">
            <div class="col-xl-45 col-lg-5">
              <div class="single-cta">
                <div class="section-title white-title mb-30">
                  <span><i class="far fa-plus"></i> call to action</span>
                  <h2>Appointment</h2>
                </div>
              </div>
            </div>
            <div class="col-xl-7 col-lg-7">
              <div class="cta-wrapper mt-25 mb-30">
                <div class="cta-form">
                  <form action="#">
                    <input placeholder="Enter Your Email :" type="email" />
                    <button class="c-btn" type="submit">Get A Quote</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </dive>
      </div> -->
      <!-- cta-area-end -->
      <div style="margin-top: -150"></div>
      <!-- about-area-start -->
      <div class="abou-02-area pos-rel pt-120 pb-70 grey-soft-bg">
        <div class="about-bg-img">
          <img src="{% static 'assets/img/about/02.png' %}" alt="" />
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6 mb-30">
              <div class="abouts-wrapper">
                <div class="section-title mb-15">
                  <span><i class="far fa-plus"></i>COVID 19</span>
                  <!-- <h2>Understanding The Problem</h2> -->
                </div>
                <div class="about-info">
                  <p>
                    The COVID-19 pandemic has had a major effect on our lives.
                    Many of us are facing challenges that can be stressful,
                    overwhelming, and cause strong emotions in adults and
                    children. Here at TSP, we also provide COVID-19 response
                    resources through a contactless virtual learning platform
                    that aims to foster Mental Health through individual
                    competencies and psychological abilities.
                  </p>
                </div>
                <div class="about-item">
                  <ul>
                    <a
                      href="https://form.jotform.com/212298227382055"
                      class="c-btn"
                      style="width: 100%"
                      >Wanna Talk About It?</a
                    >
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- about-area-end -->

      <div style="margin-top: -100;"></div>
    </main>
  </body>
</html>
{% endblock %}
