{% extends 'tspapp/base.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Services</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main style="overflow-y: hidden">
      <!-- header-start -->
      <header>
        <div
          id="sticky-header"
          class="main-menu-area menu-04 pl-35 pr-35 theme-red-soft-bg"
        >
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-xl-2 col-lg-2">
                <div class="logo">
                  <a href="/"
                    ><img src="{% static 'assets/img/logo/logo.png' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 d-none d-lg-block header-04-menu">
                <div class="menu-box">
                  <div class="header-03-right f-right">
                    <div class="menu-bar info-bar f-right d-none d-xl-block">
                      <a href="#"
                        ><img
                          src="{% static 'assets/img/icon/bar.png' %}"
                          alt=""
                      /></a>
                    </div>
                    <div class="header-button f-right d-none d-lg-block">
                      <a
                        href="https://form.jotform.com/232296977253064"
                        class="c-btn"
                        >Get Appointment</a
                      >
                    </div>
                  </div>
                  <div class="main-menu">
                    <nav id="mobile-menu">
                      <ul>
                        <li>
                          <a href="/">home </a>
                        </li>
                        <li><a href="/about">About </a></li>
                        <li><a href="/services">Services </a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 header-04-cta">
                <div class="header1-right">
                  <div class="header-middle-info">
                    <div class="header-middle-icon f-left">
                      <i class="flaticon-technical-support"></i>
                    </div>
                    <div class="header-middle-text">
                      <span>Get Suppport</span>
                      <h5>(443) 869-3398</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="mobile-menu"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra-info">
          <div class="close-icon">
            <button>
              <i class="far fa-window-close"></i>
            </button>
          </div>
          <div class="logo-side mb-30">
            <a href="/">
              <img src="{% static 'assets/img/logo/white.png' %}" alt="" />
            </a>
          </div>
          <div class="side-info mb-30">
            <div class="contact-list mb-30">
              <h4>Office Address</h4>
              <p>400 W Franklin Street, 101
                Baltimore Maryland, 21201</p>
            </div>
            <div class="contact-list mb-30">
              <h4>Phone Number</h4>
              <p>(443) 869-3398</p>
            </div>
            <div class="contact-list mb-30">
              <h4>Email Address</h4>
              <p>info@thestrengthprogram.org
              </p>
            </div>
          </div>

          <div class="social-icon-right mt-20">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/the_strengthprogram/">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/the-strength-program">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </header>
      <!-- header-start -->
      <div
        class="breadcrumb-area pt-150 pb-150"
        data-overlay="7"
        style="
          background-image: url(/static/assets/img/bg/page-title.jpg);
          height: 10%;
        "
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="breadcrumb-text text-center z-index">
                <h1>services</h1>
                <ul class="breadcrumb-menu">
                  <li><a href="/">home</a></li>
                  <li><span>services</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- our-services-area-start -->

      <div class="our-services-area s-padding pt-90 pb-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>01</span>
                </div>
                <div class="number-text">
                  <h3>Anger Management</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>02</span>
                </div>
                <div class="number-text">
                  <h3>Community Activities</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>03</span>
                </div>
                <div class="number-text">
                  <h3>COVID Initiatives</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>04</span>
                </div>
                <div class="number-text">
                  <h3>Illness Management</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>05</span>
                </div>
                <div class="number-text">
                  <h3>Independent and Community Living Skills</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>06</span>
                </div>
                <div class="number-text">
                  <h3>Interpersonal and Socialization Skills</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>07</span>
                </div>
                <div class="number-text">
                  <h3>Medication Management and Education</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>08</span>
                </div>
                <div class="number-text">
                  <h3>Mental health Coordination/Advocacy</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>09</span>
                </div>
                <div class="number-text">
                  <h3>Mental Illness Recovery</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>10</span>
                </div>
                <div class="number-text">
                  <h3>Modeling and Role Play</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>11</span>
                </div>
                <div class="number-text">
                  <h3>Problem-Solving and Conflict Resolution</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>12</span>
                </div>
                <div class="number-text">
                  <h3>Promoting Health Care</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>13</span>
                </div>
                <div class="number-text">
                  <h3>Safety/Crisis Management Plans</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>14</span>
                </div>
                <div class="number-text">
                  <h3>Self Care</h3>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>15</span>
                </div>
                <div class="number-text">
                  <h3>Utilization of Community Resources</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- our-services-area-end -->
      <div style="margin-top: -80"></div>

      <!-- cta-area-start -->
      <div
        class="cta-area pb-110 pt-120"
        data-background="{% static 'assets/img/bg/cta.jpg' %}"
      >
        <div class="container">
          <div class="row no-gutters">
            <div class="col-xl-8 col-lg-8 col-md-8">
              <div class="section-title section-title-white mr-30 mb-40">
                <span class="white-color"
                  ><i class="far fa-plus"></i>From Our Experts</span
                >
                <h2 class="white-color">
                  Get A Quick Counseling From Our Expert.
                </h2>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 mb-30">
              <div class="cta-btn mt-50 mb-30 text-md-right">
                <a href="/" class="c-btn border-btn">Get Support</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- cta-area-end -->

      <!-- tab-area-start -->
      <div class="tab-area pb-90">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sycho-tab-menu">
                <ul class="nav" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="home-tab"
                      data-toggle="tab"
                      href="#home"
                      role="tab"
                      aria-controls="home"
                      aria-selected="true"
                      >Career Opportunities</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="profile-tab"
                      data-toggle="tab"
                      href="#profile"
                      role="tab"
                      aria-controls="profile"
                      aria-selected="false"
                      >Teleheath Services</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="contact-tab"
                      data-toggle="tab"
                      href="#contact"
                      role="tab"
                      aria-controls="contact"
                      aria-selected="false"
                      >FAQ</a
                    >
                  </li>
                </ul>
                <div class="tab-content mt-120" id="myTabContent">
                  <div
                    class="tab-pane fade show active"
                    id="home"
                    role="tabpanel"
                    aria-labelledby="home-tab"
                  >
                    <div class="row">
                      <div class="col-xl-5 col-lg-5">
                        <div class="sycho-tab-img mb-30">
                          <img
                            src="{% static 'assets/img/bg/brain.png' %}"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-xl-7 col-lg-7">
                        <div class="sycho-tab-content mt-30 mb-30">
                          <div class="section-title mb-40">
                            <h2>Career Opportunities</h2>

                            <p>
                              The Strength Program strives for excellence and we
                              start with our amazing staff. We want our clients
                              to know that they are not alone and they can
                              always count on us. Our staff is made up of
                              qualified individuals who share a common goal to
                              serve the community. If you would like to join our
                              staff, please send your resume to
                              info@thestrengthprogram.org
                            </p>
                            <div class="mb-50"></div>
                            <a href="/resume" class="c-btn">Submit Resume</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="profile"
                    role="tabpanel"
                    aria-labelledby="profile-tab"
                  >
                    <div class="row">
                      <div class="col-xl-5 col-lg-5">
                        <div class="sycho-tab-img mb-30">
                          <img
                            src="{% static 'assets/img/bg/brain.png' %}"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-xl-7 col-lg-7">
                        <div class="sycho-tab-content mt-30 mb-30">
                          <div class="section-title mb-40">
                            <h2>Telehealth Services</h2>
                            <p>
                              One of our goals at The Strength Program is to be
                              available to our consumers when they need us—
                              wherever they are. That’s why we have included
                              telehealth in our array of service offerings.
                              Using interactive audio and video technology,
                              telehealth enables our staff to provide outpatient
                              mental health services using any device with an
                              internet connection. Fully confidential and
                              HIPAA-compliant, telehealth allows recipients to
                              participate in sessions from their home or any
                              location of their choice with respect to their
                              privacy.
                            </p>
                            <div class="mb-50"></div>
                            <!-- <a href="#" class="c-btn">Get Appointment</a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="contact"
                    role="tabpanel"
                    aria-labelledby="contact-tab"
                  >
                    <div class="row">
                      <div class="col-xl-5 col-lg-5">
                        <div class="sycho-tab-img mb-30">
                          <img
                            src="{% static 'assets/img/bg/brain.png' %}"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="col-xl-7 col-lg-7">
                        <div class="sycho-tab-content mt-30 mb-30">
                          <div class="section-title mb-40">
                            <h2>FAQ</h2>
                            <div class="container">
                              <div class="row">
                                <div class="faq-wrapper pr-30 mt-3">
                                  <div class="faq-box">
                                    <div id="accordion">
                                      <div class="card">
                                        <div
                                          class="card-header"
                                          id="headingOne"
                                        >
                                          <h5 class="mb-0">
                                            <a
                                              href="#"
                                              class="btn-link"
                                              data-toggle="collapse"
                                              data-target="#collapseOne"
                                              aria-expanded="false"
                                              aria-controls="collapseOne"
                                              >How do I get more information
                                              about your services?</a
                                            >
                                          </h5>
                                        </div>
                                        <div
                                          class="collapse show"
                                          id="collapseOne"
                                          aria-labelledby="headingOne"
                                          data-parent="#accordion"
                                        >
                                          <div class="card-body">
                                            <p>
                                              If you are experiencing a mental
                                              health emergency, please call
                                              9-1-1. If you are looking for
                                              information on outpatient,
                                              non-crisis services, please reach
                                              out to us at (443) 869.3398 or
                                              complete our online referral.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                        <div
                                          class="card-header"
                                          id="headingTwo"
                                        >
                                          <h5 class="mb-0">
                                            <a
                                              href="#"
                                              class="btn-link collapsed"
                                              data-toggle="collapse"
                                              data-target="#collapseTwo"
                                              aria-expanded="false"
                                              aria-controls="collapseTwo"
                                            >
                                              Who can submit a referral?</a
                                            >
                                          </h5>
                                        </div>
                                        <div
                                          id="collapseTwo"
                                          class="collapse"
                                          aria-labelledby="headingTwo"
                                          data-parent="#accordion"
                                        >
                                          <div class="card-body">
                                            <p>
                                              We accept referrals directly from
                                              the individual interested in
                                              services, family, friends,
                                              judicial offices, schools, social
                                              services, and all child serving
                                              agencies. Referrals are accepted
                                              24/7 through our online portal and
                                              intake appointments are usually
                                              scheduled within 48 hours,
                                              excluding weekends.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                        <div
                                          class="card-header"
                                          id="headingThree"
                                        >
                                          <h5 class="mb-0">
                                            <a
                                              href="#"
                                              class="btn-link collapsed"
                                              data-toggle="collapse"
                                              data-target="#collapseThree"
                                              aria-expanded="false"
                                              aria-controls="collapseThree"
                                            >
                                              Are we accredited?
                                            </a>
                                          </h5>
                                        </div>
                                        <div
                                          id="collapseThree"
                                          class="collapse"
                                          aria-labelledby="headingThree"
                                          data-parent="#accordion"
                                        >
                                          <div class="card-body">
                                            <p>
                                              Yes, we are proud to have earned
                                              accreditation from the Commission
                                              of Accreditation of Rehabilitation
                                              Facilities (CARF), an
                                              international nonprofit that
                                              assesses behavioral health
                                              organizations in light of rigorous
                                              guidelines for service and
                                              quality. CARF found The Strength
                                              Program to be in compliance with
                                              internationally recognized service
                                              standards and guidelines during
                                              regular, in-depth reviews.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="card">
                                        <div
                                          class="card-header"
                                          id="headingFour"
                                        >
                                          <h5 class="mb-0">
                                            <a
                                              href="#"
                                              class="btn-link collapsed"
                                              data-toggle="collapse"
                                              data-target="#collapseFour"
                                              aria-expanded="false"
                                              aria-controls="collapseFour"
                                            >
                                              What methods of payment do you
                                              accept?</a
                                            >
                                          </h5>
                                        </div>
                                        <div
                                          id="collapseFour"
                                          class="collapse"
                                          aria-labelledby="headingFour"
                                          data-parent="#accordion"
                                        >
                                          <div class="card-body">
                                            <p>
                                              We accept Medicaid through the
                                              State of Maryland, and have a
                                              sliding scale fee for those
                                              interested in private pay.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mb-50"></div>
                            <a
                              href="https://form.jotform.com/232296977253064"
                              class="c-btn"
                              >Get Appointment</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- tab-area-end -->

      <!-- test-sec-area-start -->
      <div
        class="test-sec-area pb-200 pt-110"
        data-background="{% static 'assets/img/bg/05.jpg' %}"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-8">
              <div class="section-title section-title-white mr-30 mb-40">
                <span><i class="far fa-plus"></i> testimonials</span>
                <h2 class="white-color">Client Feedbacks</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- test-sec-area-end -->

      <!-- test-area-start -->
      <div class="test-area test-02">
        <div class="container">
          <div class="row test-active">
            <div class="col-xl-6">
              <div class="single-test">
                <div class="test-content fix">
                  <p>
                    "At first I thought this was just another program but once I
                    met with my counselor I was impressed with the way my
                    situation was handled."
                  </p>
                  <div class="test-name">
                    <h4>Support Seeker</h4>
                    <span>Member</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="single-test">
                <div class="test-content fix">
                  <p>
                    "I would go anywhere Ms. Lisa goes. She is the reason I even
                    have a job right now."
                  </p>
                  <div class="test-name">
                    <h4>Support Seeker</h4>
                    <span>Member</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- test-area-end -->
      <div style="margin-bottom: -250"></div>
    </main>
  </body>
</html>
{% endblock %}
