{% extends 'tspapp/base.html' %} {% block content %} {% load static %}

<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Services</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main style="overflow-y: hidden;">
      <!-- header-start -->
      <header>
        <div
          id="sticky-header"
          class="main-menu-area menu-04 pl-35 pr-35 theme-red-soft-bg"
        >
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-xl-2 col-lg-2">
                <div class="logo">
                  <a href="/"
                    ><img src="{% static 'assets/img/logo/logo.png' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 d-none d-lg-block header-04-menu">
                <div class="menu-box">
                  <div class="header-03-right f-right">
                    <div class="menu-bar info-bar f-right d-none d-xl-block">
                      <a href="https://form.jotform.com/212298227382055"
                        ><img
                          src="{% static 'assets/img/icon/bar.png' %}"
                          alt=""
                      /></a>
                    </div>
                    <div class="header-button f-right d-none d-lg-block">
                      <a href="https://form.jotform.com/212298227382055" class="c-btn">Get Appointment</a>
                    </div>
                  </div>
                  <div class="main-menu">
                    <nav id="mobile-menu">
                      <ul>
                        <li>
                          <a href="/">home </a>
                        </li>
                        <li><a href="/about">About </a></li>
                        <li><a href="/services">Services </a></li>
                        
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 header-04-cta">
                <div class="header1-right">
                  <div class="header-middle-info">
                    <div class="header-middle-icon f-left">
                      <i class="flaticon-technical-support"></i>
                    </div>
                    <div class="header-middle-text">
                      <span>Get Suppport</span>
                      <h5>987-987-876-625</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="mobile-menu"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="extra-info">
          <div class="close-icon">
            <button>
              <i class="far fa-window-close"></i>
            </button>
          </div>
          <div class="logo-side mb-30">
            <a href="/">
              <img src="{% static 'assets/img/logo/white.png' %}" alt="" />
            </a>
          </div>
          <div class="side-info mb-30">
            <div class="contact-list mb-30">
              <h4>Office Address</h4>
              <p>123/A, Miranda City Likaoli Prikano, Dope</p>
            </div>
            <div class="contact-list mb-30">
              <h4>Phone Number</h4>
              <p>+0989 7876 9865 9</p>
              <p>+(090) 8765 86543 85</p>
            </div>
            <div class="contact-list mb-30">
              <h4>Email Address</h4>
              <p>info@example.com</p>
              <p>example.mail@hum.com</p>
            </div>
          </div>

          <div class="social-icon-right mt-20">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-google-plus-g"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </header>
      <!-- header-start -->
      <div
        class="breadcrumb-area pt-150 pb-150"
        data-overlay="7"
        style="background-image: url(/static/assets/img/bg/page-title.jpg)"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="breadcrumb-text text-center z-index">
                <h1>services</h1>
                <ul class="breadcrumb-menu">
                  <li><a href="index.html">home</a></li>
                  <li><span>services</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- our-services-area-start -->

      
      <div class="our-services-area s-padding pt-90 pb-100">
        <div class="container">
          <div class="row">


           <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>01</span>
                </div>
                <div class="number-text">
                  <h3>Anger Management</h3>
                </div>
              </div>
        </div>
            
            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>02</span>
                </div>
                <div class="number-text">
                  <h3>Community Activities
                  </h3>
                </div>
              </div>
        </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>03</span>
                </div>
                <div class="number-text">
                  <h3>COVID Initiatives</h3>
                </div>
              </div>
        </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>04</span>
                </div>
                <div class="number-text">
                  <h3>Illness Management</h3>
                </div>
              </div>
        </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>05</span>
                </div>
                <div class="number-text">
                  <h3>Independent and Community Living Skills</h3>
                </div>
              </div>
        </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>06</span>
                </div>
                <div class="number-text">
                  <h3>Interpersonal and Socialization Skills</h3>
                </div>
              </div>
        </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>07</span>
                </div>
                <div class="number-text">
                  <h3>Medication Management and Education</h3>
                </div>
              </div>
        </div>
            
            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>08</span>
                </div>
                <div class="number-text">
                  <h3>Mental health Coordination/Advocacy</h3>
                </div>
              </div>
        </div>


            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>09</span>
                </div>
                <div class="number-text">
                  <h3>Mental Illness Recovery</h3>
                </div>
              </div>
        </div>


            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>10</span>
                </div>
                <div class="number-text">
                  <h3>Modeling and Role Play</h3>
                </div>
              </div>
        </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>11</span>
                </div>
                <div class="number-text">
                  <h3>Problem-Solving and Conflict Resolution</h3>
                </div>
              </div>
        </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>12</span>
                </div>
                <div class="number-text">
                  <h3>Promoting Health Care</h3>
                </div>
              </div>
        </div>


            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>13</span>
                </div>
                <div class="number-text">
                  <h3>Safety/Crisis Management Plans</h3>
                </div>
              </div>
        </div>

            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>14</span>
                </div>
                <div class="number-text">
                  <h3>Self Care</h3>
                </div>
              </div>
        </div>


            <div class="col-xl-4 col-lg-4 col-md-6 mb-15">
              <div class="number-wrapper nm-01 nm-03">
                <div class="number-info f-left">
                  <span>15</span>
                </div>
                <div class="number-text">
                  <h3>Utilization of Community Resources</h3>
                </div>
              </div>
        </div>

          </div>
        </div>
      </div>
      <!-- our-services-area-end -->
      <div style="margin-top: -80"></div>
     

     
      <!-- test-sec-area-start -->
      <div
        class="test-sec-area pb-200 pt-110"
        data-background="{% static 'assets/img/bg/05.jpg' %}"
      >
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-8">
              <div class="section-title section-title-white mr-30 mb-40">
                <span><i class="far fa-plus"></i> testimonials</span>
                <h2 class="white-color">Client Feedbacks</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- test-sec-area-end -->

      <!-- test-area-start -->
      <div class="test-area test-02">
        <div class="container">
          <div class="row test-active">
            <div class="col-xl-6">
              <div class="single-test">
                <div class="test-content fix">
                  <p>
                    "At first I thought this was just another program but once I
                    met with my counselor I was impressed with the way my
                    situation was handled."
                  </p>
                  <div class="test-name">
                    <h4>Shawna Mitchell</h4>
                    <span>Client</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="single-test">
                <div class="test-content fix">
                  <p>
                    "I would go anywhere Ms. Lisa goes. She is the reason I even
                    have a job right now."
                  </p>
                  <div class="test-name">
                    <h4>Tavon Green</h4>
                    <span>Client</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- test-area-end -->
      <div style="margin-bottom: -250"></div>
    </main>
  </body>
</html>
{% endblock %}
