/* 10. counter */
.counter-img{
    & img{
        width: 100%;
    }
}
.counter-wrapper{
    padding: 21px 40px 55px 60px;
    height: 100%;
    @media #{$laptop}{
        padding: 30px;
    }
    @media #{$xs}{
        padding: 30px;
    }
}
.counter-content{
    & h2{
        color: $white;
        font-size: 180px;
        line-height: 1;
        & > span{
            font-size: 24px;
        }
        @media #{$laptop}{
            font-size: 80px;
        }
        @media #{$md}{
            font-size: 90px;
        }
        @media #{$xs}{
            font-size: 60px;
        }
    }
    & > span{
        color: $white;
        font-size: 24px;
        font-weight: 700;
        @media #{$laptop}{
            font-size: 18px;
        }
    }
    & p{
        color: $white;
        margin-bottom: 0;
        margin-top: 8px;
    }
}
.counter-icon{
    margin-bottom: 35px;
        @media #{$laptop}{
            margin-bottom: 22px;
        }
    & i{
        color: $red;
        font-size: 80px;
        background: $white;
        height: 140px;
        display: inline-block;
        width: 140px;
        line-height: 140px;
        border-radius: 50%;
    }
}
.counter-info{
    & h3{
        font-size: 24px;
        margin-bottom: 16px;
        @media #{$laptop}{
            font-size: 21px;
        }
    }
    & p{
        margin-bottom: 16px;
        @media #{$laptop}{
            display: none;
        }
    }
    & a{
        color: $red;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        display: inline-block;
        transition: .3s;
        &:hover{
            color: $theme-color;
        }
    }
}
// style-2
.count-bg{
    padding: 50px 50px 30px;
    margin-top: -66px;
    @media #{$xs}{
		 padding: 50px 20px 30px;
    }
}
.counter-02-wrapper {
	display: inline-block;
	text-align: left;
}
.counter-text{
    & h2{
        font-size: 72px;
        line-height: 1;
        color: $white;
        margin-bottom: 3px;
        @media #{$xs}{
		 font-size: 60px;
        }
    }
    & > span{
        color: $white;
        font-weight: 700;
        font-size: 16px;
    }
}
.plus-icon{
    font-size: 24px;
}