/* 11. cta */
.cta-area{
    background-size: cover;
    background-position: center center;
}
.cta-wrapper{
    @media #{$lg}{
        margin-top: 0;
    }
    @media #{$md}{
        margin-top: 0;
    }
    @media #{$xs}{
        margin-top: 0;
    }
}
.cta-form form {
    position: relative;
    & input {
	height: 70px;
	padding: 0 45px;
	background: $white;
	font-size: 14px;
	border: none;
	width: 450px;
	color: $theme-color;
    float: left;
    font-weight: 600;
    @media #{$lg}{
       width: 312px;
        }
    @media #{$xs}{
       width: 100%;
        }
    }
    & input::placeholder {
      color:$theme-color;
      font-size: 14px;
      font-weight: 600;
    }
    & input::-moz-placeholder {
        color:$theme-color;
        font-size: 14px;
        font-weight: 600;
    }
    & button{
        margin-left: 10px;
        @media #{$xs}{
           margin-left: 0;
           margin-top: 15px;
        }
        &.c-btn {
            padding: 27px 55px 27px 55px;
            cursor: pointer;
            border: none;
            transition: .3s;
            &:hover{
                color: $theme-color;
                background: $white;
            }
        }
    }
}
// style-2
.subscribe-wrapper {
	background-size: cover;
	background-position: center center;
	height: 100%;
}
.subscribe-inner {
	background: $white;
	padding: 45px 45px 50px 45px;
    margin: 40px;
    position: relative;
    @media #{$lg}{
         padding: 45px 20px 50px;
         margin: 20px;
    }
    @media #{$xs}{
         padding: 45px 15px 50px;
         margin: 15px;
    }
    &::before {
        position: absolute;
        content: "";
        font-family: "Flaticon";
        top: -11px;
        font-size: 105px;
        right: 21px;
        color: $grey-2;
        @media #{$xs}{
          display: none;
         }
    }
}
.subscribe-title{
    & h2{
        font-size: 30px;
        margin-bottom: 26px;
    }
}
.subscribe-form form {
    position: relative;
    & input {
        height: 70px;
        padding: 0 40px;
        background: $grey-2;
        font-size: 16px;
        border: none;
        width: 560px;
        color: $theme-color;
        font-weight: 400;
        position: relative;
        @media #{$lg}{
          width: 520px;
         }
        @media #{$md}{
          width: 520px;
         }
        @media #{$xs}{
          width: 100%;
         }
    }
}
.subscribe-form {
    & form {
        & input::placeholder {
            color:$theme-color;
            font-size: 16px;
            font-weight: 400;
        }
        & input::-moz-placeholder {
            color:$theme-color;
            font-size: 16px;
            font-weight: 400;
        }
        & button{
            position: absolute;
            right: 0;
            @media #{$xs}{
                position: inherit;
                margin-top: 15px;
            }
            &.c-btn {
                padding: 27px 55px 27px 55px;
                cursor: pointer;
                border: none;
                transition: .3s;
                &:hover{
                    color: $white;
                    background: $theme-color;
                }
            }
        }
    }
}
// support
.sup-btn {
    & a {
        background: #743226;
    }
}

.sup-link {
  background: none !important;
  display: inline-block;
  position: relative;
  top: 14px;
  margin-left: 25px;
  @media #{$xs}{
       margin-left: 0;
    }
  & i {
        display: inline-block;
        font-size: 55px;
        line-height: 1;
        color: #fff;
    }
}
.sup-link-2{
    & .sup-text{
        text-align: right;
    }
    & i{
        float: right;
        margin-left: 15px;
    }
}
.sup-border{
    position: relative;
    &::before {
        content: "";
        background: #fff7f5;
        height: 80px;
        width: 2px;
        position: absolute;
        left: -3px;
        top: -26px;
        opacity: 0.1;
    }
}
.sup-btn-2{
    & a{
        margin: 0 30px;
    }
}
.sup-text {
  display: inline-block;
  padding-left: 7px;
  text-align: left;
  position: relative;
  top: -2px;
}
a {
    & .sup-text {
        & span {
            color: #dcc3bf;
            font-size: 14px;
            display: inline-block;
            margin-bottom: 5px;
        }
    }
}
.sup-text h5 {
  color: #fff;
  margin: 0;
  font-size: 20px;
}

// cta
.cta-btn {
    @media #{$xs}{
       margin-top: 0;
    }
    & a {
        color: #fff;
        border: 2px solid #fff;
    }
}
.sups-btn {
    & a {
        margin-right: 14px;
        @media #{$xs}{
            margin-right: 0;
            margin-top: 15px;
        }
    }
}
.play-video-icon {
    margin-bottom: 30px;
    & a{
    font-size: 16px;
    color: $white;
    border: 3px solid $white;
	height: 110px;
	display: inline-block;
	width: 110px;
	line-height: 110px;
	text-align: center;
	border-radius: 50%;
    transition: .3s;
    position: relative;
    &::before{
        content: '';
        display: inline-block;
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        border-radius: inherit;
        border: 1px solid #fff;
        -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
        animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
        transition: .3s;
     }
    }
}
@-webkit-keyframes btnIconRipple { 0% { border-width: 4px; -webkit-transform: scale(1); transform: scale(1); }
80% { border-width: 1px; -webkit-transform: scale(1.35); transform: scale(1.35); }
100% { opacity: 0; } }
.newlstter-img{
    & img{
       width: 100%;
    }
}